<ul id="sidebar-nav">
	<li class="classes">
		<%= link_to("Classes", character_classes_path) %>
	</li>
	<li>
		<%= link_to("Classes", character_classes_path) %>
	</li>
	<li>
		<%= link_to("Classes", character_classes_path) %>
	</li>
</ul>