<% @page_title = "Meta" %>
<% @menu_item = "Meta" %>


<section id="sidebar">
	<%= render(:partial => 'main/meta_menu') %>
</section>

	<section id="main">
	<p><%= render_breadcrumbs %></p>
	<%= render(:partial => 'application/flash_notify') %>

	</section>
	<div style="clear:both;"></div>