<% @page_title = "Meta" %>
<% @menu_item = "Meta" %>


<% content_for :sidebar do %>
	<%= render(:partial => 'main/meta_menu') %>
<% end %>

<% content_for :main_content do %>
	<p><%= render_breadcrumbs %></p>
	<%= render(:partial => 'application/flash_notify') %>

<% end %>
	<div style="clear:both;"></div>