<% @page_title = "Meta" %>
<% @menu_item = "Meta" %>


<section id="sidebar">
	<p>Menu:</p>
	<p>
		<%= link_to("Classes", players_path) %>
	</p>
</section>

	<section id="main">
	<p><%= render_breadcrumbs %></p>
	<%= render(:partial => 'application/flash_notify') %>


		

	</section>
	<div style="clear:both;"></div>