<% @page_title = "Add Class" %>
<% @menu_item = "Meta" %>


<% content_for :sidebar do %>
	<%= render(:partial => 'main/meta_menu') %>
<% end %>

<% content_for :main_content do %>
	<div class="class add">

	  <%= form_for(@character_class) do |f| %>

	    <%= render(:partial => 'form', :locals => {:f => f}) %>

	    <div class="form-buttons">
	      <%= f.submit("Add Class", :class => "btn-green") %>
	    </div>

	  <% end %>
	</div>
<% end %>