<% 
	@page_title = "Confirm Delete" 
	@menu_item = "Spells"
%>


<% content_for :sidebar do %>
	<p>Actions:</p>
	<p>
		<%= link_to("Cancel", spell_path(@spell), :class => 'btn-red') %>
	</p>
<% end %>

<% content_for :main_content do %>
		<div style="text-align: center;">
			<%= form_for(@spell, :method => 'delete') do |f| %>
				<h2>
					Are you sure you want to delete this spell:
				</h2>
				<h2>
					<%= f.object.name %>?
				</h2>
				<h2>
					Note:  This cannot be undone!
				</h2>
				<p>
					<%= f.submit("Yes, delete!", :class => 'btn-green') %>
				</p>
			<% end %>
		</div>
<% end %>