.btn-green {
  background: #009924;
  background-image: -webkit-linear-gradient(top, #009924, #00660f);
  background-image: -moz-linear-gradient(top, #009924, #00660f);
  background-image: -ms-linear-gradient(top, #009924, #00660f);
  background-image: -o-linear-gradient(top, #009924, #00660f);
  background-image: linear-gradient(to bottom, #009924, #00660f);
/*   -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px; */
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-green:hover {
  background: #066e1e;
  background-image: -webkit-linear-gradient(top, #066e1e, #02400a);
  background-image: -moz-linear-gradient(top, #066e1e, #02400a);
  background-image: -ms-linear-gradient(top, #066e1e, #02400a);
  background-image: -o-linear-gradient(top, #066e1e, #02400a);
  background-image: linear-gradient(to bottom, #066e1e, #02400a);
  text-decoration: none;
}

.btn-red {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #940505);
  background-image: -moz-linear-gradient(top, #d93434, #940505);
  background-image: -ms-linear-gradient(top, #d93434, #940505);
  background-image: -o-linear-gradient(top, #d93434, #940505);
  background-image: linear-gradient(to bottom, #d93434, #940505);
/*   -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px; */
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-red:hover {
  background: #b81818;
  background-image: -webkit-linear-gradient(top, #b81818, #610303);
  background-image: -moz-linear-gradient(top, #b81818, #610303);
  background-image: -ms-linear-gradient(top, #b81818, #610303);
  background-image: -o-linear-gradient(top, #b81818, #610303);
  background-image: linear-gradient(to bottom, #b81818, #610303);
  text-decoration: none;
}

