// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trained_feats {
	width: 455px;
	float: left;
	font-size: .8em;
	background: #fff;
	padding: 15px;
	border: 1px solid #aaa;
}

#all_feats {
	width: 255px;
	float:right;
	font-size: .8em;
	border: 1px solid #aaa;
	background: #fff;
	padding: 15px;
	select {
		width: 150px;
	}
}

#character_feats {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #000;
	background: #ddd;
}

select#train_feats_ {
	width: 100%;
}