// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

	padding: 0;
	margin: 0;
	width: 960px;
	background: #333;
	margin: 0 auto;
}

#main-content {
	background: #fff;
	margin: 0;
	padding: 0px;
	border: 1px solid #000;
	clear:both;
}


header#site-header {
	background: #fff;
	border: 1px solid #000;
	padding: .5em;
	margin: 0;
	height: 65px;
	font-family: Georgia, Times, "Times New Roman", serif;
	h1 {
		margin: 0 0 .5em 0;
	}
	#main-nav ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    
	    li {
	    	float: left;
	    	background-color: #ccc;
	    	border: 1px solid #000;
	    	a {
			    display: block;
			    text-align: center;
			    text-decoration: none;
			    padding: .5em;
			    color: #000;
			}
			a:hover {
				background-color: #888;
			}
		}
	}
}

.Players #main-nav > ul > li.Players a {
	background-color: #4682B4;
	color: #fff;
}

section#sidebar {
	float: left;
	width: 100px;
	padding: 5px;
}

section#main {
	padding: 15px;
	margin-left: 100px;
	border-left: 2px solid #999;
}

#player_details {
	border-bottom: 1px solid #999;
	h2 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}

.notify {
	background: #4682B4;
	padding: 5px;
}


#error-explanation {
	border: 3px solid red;
	margin: 0 0 15px 15px;
	padding: 5px;
	background: #FFC0CB;
}

.field_with_errors {
	border: 2px solid red;
}