// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




body {

	padding: 0;
	margin: 0;
	width: 960px;
	background: #333;
	margin: 0 auto;
}

#main-content {
	background: #fff;
	margin: 0;
	padding: 0px;
	border: 1px solid #000;
	clear:both;

}


header#site-header {
	background: #fff;
	border: 1px solid #000;
	padding: .5em;
	margin: 0;
	height: 65px;
	font-family: Georgia, Times, "Times New Roman", serif;
	h1 {
		margin: 0 0 .5em 0;
	}
}



section#sidebar {
	float: left;
	margin-top: 1em;
	width: 100px;
	padding: 0px;
}

section#main {
	padding: 15px;
	margin-left: 100px;
	border-left: 2px solid #999;
	min-height: 200px;
}

#player_details,
#spell_details,
#spellbook_details {
	border-bottom: 1px solid #999;
	background: #FFA500;
	padding: 15px;
	border: 1px solid #000;
	h2 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}

#spell_details {
	background: #ddd;
}

#character_details {
	margin-top: 25px;
	border: 1px solid #000;
	padding: 5px;
	background: #B0C4DE;
	p, h2 {
		margin: 0;
	}
}

.notify {
	// background: #4682B4;
	background: #FAFAD2;
	padding: 5px;
}


#error-explanation {
	border: 3px solid red;
	margin: 0 0 15px 15px;
	padding: 5px;
	background: #FFC0CB;
}

.field_with_errors {
	border: 2px solid red;
}



#spells_and_feats {
	padding: 15px;
	border: 1px solid #000;

	h4 {margin: 0;}

	#spellbooks, #feats{
		width: 45%;
		border: 1px solid #000;
		padding: 15px;
		background: #ccc;
	}
	#spellbooks {
		float: right;
	}

	#feats {
		float: left;
	}
}