ul#sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #999;
    border-bottom: 1px solid #999;

    li {
    	a {
		    display: block;
		    text-decoration: none;
		    color: 000;
		    padding: 5px;
		    text-align: center;
		    background-color: #ccc;
		    margin: 1px 0;
		}
		a:visited {
			color: #000;
		}
		a:hover {
			background-color: #FFA500;
		}
		a:active {
			color: #fff;
		}

	}
}

div.classes #sidebar-nav  > li.classes > a,
div.races #sidebar-nav  > li.races > a {
	background-color: #FFA500;
	font-weight: bold;
}


#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
    	float: left;
    	background-color: #ccc;
    	border: 1px solid #000;
    	a {
		    display: block;
		    text-align: center;
		    text-decoration: none;
		    padding: .5em;
		    color: #000;
		}
		a:hover {
			background-color: #888;
		}
	}
}

.Players #main-nav > ul > li.Players a,
.Meta #main-nav > ul > li.Meta a,
.Spells #main-nav > ul > li.Spells a,
.Feats #main-nav > ul > li.Feats a {
	background-color: #4682B4;
	color: #fff;
}



/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}