
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
	padding: 5px 10px;
	a {
		text-decoration: none;
		color: #0000CD;
	}
	a:hover {
		text-decoration: underline;
	}
}

th {
	background: #4682B4;
}