
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
	font-family: Helvetica, Arial, sans-serif;
	padding: 5px 10px;
	background: #fff;
	a {
		text-decoration: none;
		color: #0000CD;
	}
	a:hover {
		text-decoration: underline;
	}
}

th {
	background: #4682B4;
	padding: 5px 10px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#spellbook-table {
	width: 100%;
	margin: 15px 0;
	td {
		width: auto;
	}
}

